<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Management System</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class="text-center">Create New User</h1>
            <div class="card-body">
                <form th:action="@{/users}" th:object="${user}" method="POST">
                    <div class="form-group">
                        <label>Select Username</label>
                        <input type="text" name="username" th:field="*{username}" class="form-control" placeholder="Enter username"/>
                    </div>
                    <div class="form-group">
                        <label>Select Password</label>
                        <input type="text" name="password" th:field="*{password}" class="form-control" placeholder="Enter password"/>
                    </div>
                    <div class="form-group">
                        <label>Choose your role</label>
                        <select class="form-select form-select-lg" th:name="roles">
                            <option value="ADMIN">ADMIN</option>
                            <option value="USER">USER</option>
                        </select>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>