<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Management System</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Student Management System</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/students}">Student Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/courses}">Course Management</a>
            </li>
        </ul>
    </div>
    <div>
        <p class="text-white nav-link disabled" th:inline="text">Hello <span th:remove="tag" sec:authentication="name">thymeleaf</span>!</p>
    </div>
    <form th:action="@{/login}">
        <input class="btn btn-primary" type="submit" value="Login"/>
    </form>
</nav>


<div class="container">
    <div class="row">
        <h1>List Courses</h1>
    </div>
    <div class="row">
    </div>
    <table class ="table table-stripped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>CRN</th>
            <th>Department Name</th>
            <th>Course Number</th>
            <th>Number of credits</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="course:${courses}">
            <td th:text="${course.id}"></td>
            <td th:text="${course.depName}"></td>
            <td th:text="${course.courseNum}"></td>
            <td th:text="${course.courseCredit}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>